<%- include('include/header'); %>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% for(let user of locals.userData){ %>
                <tr>
                    <td>
                        <%= user._id%>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <a href="http://localhost:8080/users/update/<%=user._id%>" class="edit"
                            data-toggle="modal">Edit</a>
                        <a href="http://localhost:8080/users/delete/<%=user._id%>" class="delete">Delete</i></a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <div class="add-button">
        <a href="http://localhost:8080/users/add/">Add</a>
    </div>
</body>
</html>