<%- include('include/header'); %>
    <form action="/users/update/<%=userData._id%>" method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" name="name" placeholder="Name" value="<%=userData.name%>">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" value="<%=userData.email%>">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password" value="<%=userData.password%>">
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>